@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  src: local("Manrope"),
    url(./fonts/Manrope-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Manrope;
  font-style:  normal;
  font-weight: 500;
  src: local("Manrope"),
    url(./fonts/Manrope-Medium.ttf) format("truetype");
}
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  src: local("Manrope"),
    url(./fonts/Manrope-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  src: local("Manrope"),
    url(./fonts/Manrope-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  src: local("Manrope"),
    url(./fonts/Manrope-ExtraBold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: Manrope, sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* header  */

.header {
  margin: 0 auto;
  height: 866px;
  background: url(./img/Background.png) no-repeat center;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 165px;
}

.header__left {
  display: flex;
}

.header__logo {
  margin-right: 32px;
}

.header__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__item {
  list-style-type: none;
  margin-right: 32px;
}

.header__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  text-decoration: none;
}

/* hero  */

.hero {
  height: 72px;
  padding: 0 165px;
  position: relative;
  margin-top: 96px;
}

.hero__title {
  width: 660px;
  height: 196px;
  margin: 32px 0 0 0;
}

.hero__title--text {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  font-feature-settings: 'liga' off;
  color: #18191F;
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 62px;
  background: #8C30F5;
  border-radius: 8px;
  margin: 32px 0px;
}

.hero__button--link {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  text-decoration: none;
}

.hero__imgApp {
  position: absolute;
  top: -32px;
  right: 88px;
}

/* main  */

.main {
  width: 100%;
}

/* clients  */

.clients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 165px;
  margin: 0 auto;
  height: 142px;
}

.clients__line {
  height: 1px;
  width: 1110px;
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%) center;
}

.clients__logos {
  display: flex;
  justify-content: space-around;
}


/* features  */

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 165px 0 64px;
  margin: 0 auto;
  max-height: 672px;
}

.features__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  margin: 0;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #18191F;
}

.features__info span {
  width: 540px;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #18191F;
}

.features__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  margin-bottom: 65px;
}

.features__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.features__item img {
  width: 32px;
  height: 32px;
}

.features__item--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #18191F;
}

.features__item--text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #18191F;
}

/* stories  */

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px 0 80px 165px;
  margin: 0 auto;
  min-height: 890px;
  background: #D5FAFC;
}

.stories_quote {
  position: absolute;
  left: 165px;
  top: 65px;
  z-index: 1;
}

.stories__title {
  display: block;
  position: absolute;
  top: 80px;
  left: 260px;
  width: 445px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  z-index: 2;
}

.stories__desc {
  position: absolute;
  top: 255px;
  left: 260px;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'liga' off;
  color: #18191F;
}

.stories__tab--1 {
  display: flex;
  position: absolute;
  left: 355px;
  top: 312px;
  width: 350px;
  height: 436px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.stories__tab--story {
  position: relative;
  height: 300px;
  margin: 32px 0px;
  padding-left: 32px;
}

.stories__tab--story svg {
  position: absolute;
  top: 0;
  left: 0;
}

.stories__tab--story span {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'liga' off;
}

.stories__tab--author {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  padding-left: 32px;
}

.stories__tab--job {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #969BAB;
  padding-left: 32px;
}

.stories__tab--2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  position: absolute;
  width: 445px;
  height: 340px;
  left: 735px;
  top: 170px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.stories__tab--3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  position: absolute;
  width: 350px;
  height: 276px;
  left: 735px;
  top: 540px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

/* about  */

.about {
  height: 332px;
  display: flex;
  align-items: center;
  padding: 80px 165px;
  background: #FFFFFF;
  margin: 0;
}

.about__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.about__left--title {
  width: 540px;
  height: 128px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  margin: 8px 0px;
}

.about__left--text {
  width: 540px;
  height: 32px;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  margin: 8px 0px;
}

.about__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  width: 540px;
  height: 172px;
}

.about__tabs {
  display: flex;
  flex-direction: row;
  width: 255px;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 40px;

}

.about__tabs:not(:nth-child(2n)) {
  margin-right: 30px;
}

.about__tabs--img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  width: 48px;
  height: 48px;
  margin: 0px 16px;
  transform: translateY(8px);
}

.about__right--title {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  margin: 0;
}

.about__right--text {
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  margin: 0;
}

.about__tabs--rightBlock {
  display: flex;
  flex-direction: column;
}

/* started  */

.started {
  display: flex;
  align-items: center;
  padding: 64px 165px;
  width: 1440px;
  height: 668px;
  background: #FFFFFF;
  margin: 0px 0px;
}

.started__left {
  width: 540px;
  height: 540px;
  margin-right: 30px;
}

.started__img {
  width: 540px;
  height: 540px;
}

.started__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 48px;
  width: 540px;
  height: 308px;
}

.started__title {
  width: 444px;
  height: 54px;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  margin: 0;
  padding: 0;
  margin: 32px 0px;
}

.started__text {
  width: 444px;
  height: 160px;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  margin-bottom: 32px;
}

.started__link a{
font-weight: bold;
font-size: 20px;
line-height: 30px;
font-feature-settings: 'liga' off;
color: #8C30F5;
margin: 0px 8px;
}

.started__link svg {
  transform: translateX(-3px) translateY(5px);
}

/* fashion  */

.fashion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 165px;
  width: 1440px;
  height: 684px;
  background: #FFFFFF;
  margin: 0px 0px;
}

.fashion__top {
  display: flex;
  max-width: 1110px;
  margin-bottom: 48px;
}

.fashion__top h3 {
  width: 540px;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.fashion__top p {
  width: 540px;
  height: 96px;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: 'liga' off;
  color: #18191F;
  margin: 0;
  padding: 0;
}

/* fashion  */

.download {
  display: flex;
  width: 1440px;
  height: 491px;
  background: #2EC5CE;
  margin: 0px 0px;
}

.download__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-top: 68px;
  margin-right: 54px;
  margin-left: 165px;
  width: 540px;
  height: 356px;
}

.download__left h2 {
  margin: 0;
  padding: 0;
  width: 540px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191F;
}

.download__left p {
  margin: 0;
  padding: 0;
  width: 540px;
  font-size: 18px;
  line-height: 32px;
  color: #18191F;
  margin: 8px 0px;
}

.download__left span {
  width: 101px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #18191F;
  margin-top: 45px;
  margin-bottom: 8px;
}

.download__left--buttons {
  display: flex;
}

.download__left--buttons img:first-child {
  margin-right: 12px;
}

.download__right {
  position: relative;
  width: 496px;
}

.download__right img:last-child {
  position: absolute;
  bottom: 0;
  right: -60px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: #0B0D17;
  margin: 0px 0px;
  padding: 56px 165px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 475px;
  height: 168px;
  display: flex;
}

.footer__left svg {
  width: 32px;
  height: 32px;
}

.footer__left--topLink {
  margin-top: 24px;
}

.footer__left--topLink ul,
.footer__left--botLink ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__left--topLink li,
.footer__left--botLink li {
  list-style-type: none;
}

.footer__left--topLink a,
.footer__left--botLink a {
  width: 59px;
  height: 26px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__left--topLink li:not(:last-child),
.footer__left--botLink li:not(:last-child) {
  margin-right: 24px;
  margin-bottom: 12px;
}

.footer__left--copyrights {
  width: 256px;
  font-size: 14px;
  line-height: 24px;
  color: #D9DBE1;
  margin-top: 24px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 160px;
  height: 140px;
}


.footer__right span {
  width: 160px;
  height: 28px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: 'liga' off;
  color: #D9DBE1;
}

.footer__right img {
  margin-bottom: 16px;
}

